#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.botoes {
    position: relative;
    width: 1000px;
    margin: 0 0;
    bottom: 168px;
}

nav {
    position: absolute;
    top: 130px;
    right: 0;
    display: inline;
}

nav li {
    display: inline;
    margin: 0 0 0;
    padding: 10px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding-left: 10px;
}

nav a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: darkcyan;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}